{{#get "posts" filter="featured:true" include="tags"}}
    <div class="featured-posts">
        {{#if posts}}
        <article>
            <!--
            <a class="box has-x-padding-5 has-y-padding-4" href="{{url}}">


                {{#if ../../_important}}
                    <p class="text is-8 is-primary is-uppercased is-truncated is-spaced">
                        <strong>Важная новость</strong> &nbsp; <i class="fas fa-bolt"></i>
                    </p>
                {{/if}}

                <p class="text is-6{{^if ../../_important}} is-spaced{{/if}}">{{title}}</p>

                {{^if ../../_important}}
                    <p class="text is-7 is-primary is-truncated">
                        {{primary_tag.name}}, <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="DD.MM"}}</time>
                    </p>
                {{/if}}


            </a>
            -->

            <div class="featured-post dropdown has-x-padding-5 has-y-padding-4">
                <span class="featured-post-title">{{posts.0.title}}</span>
                <p class="text is-6 is-spaced">{{title}}</p>
                <div class="featured-post-meta">
                    <div class="featured-post-meta-container">
                        <span class="featured-post-tag">{{posts.0.primary_tag.name}},</span>
                        <span class="featured-post-date">{{date posts.0.published_at format="DD.MM"}}</span>
                    </div>
                    <span class="featured-post-expander">&#9662; Материалы недели</span>
                </div>
            </div>
            <div class="featured-post"></div>
            <div class="featured-post"></div>
        </article>
        {{/if}}
        {{#foreach posts as |post|}}
            {{#post}}
                <article>
                    <a class="featured-post" href="{{url}}">
                        <span class="featured-post-title">{{title}}</span>
                        <div class="featured-post-meta">
                            <div class="featured-post-meta-container">
                                <span class="featured-post-tag">{{primary_tag.name}},</span>
                                <span class="featured-post-date">{{date format="DD.MM"}}</span>
                            </div>
                        </div>
                    </a>
                </article>
            {{/post}}
        {{/foreach}}
        <div class="featured-posts-expander-out">
            <span>&#9650;</span>
        </div>
    </div>
{{else}}
    <p class="error">{{error}}</p>
{{/get}}
